<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.instagram.com/nekit.d.26/">
            Instagram
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/%D0%BD%D0%B8%D0%BA%D0%B8%D1%82%D0%B0-%D0%B4%D1%83%D0%B1%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9-531814219/">
            LinkedIn
          </a>
        </li>
        <li>
          <a href="https://github.com/NikitaDubrovskii">
            GitHub
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
