<ng-sidebar-container style="height: 100vh">

  <ng-sidebar [opened]="menuOpened"
              [closeOnClickOutside]="false"
              [closeOnClickBackdrop]="true"
              [showBackdrop]="showBackdrop"
              [mode]="menuMode"
              [animate]="true"
              [position]="menuPosition"
              [autoFocus]="false"
              (onClosed)="onClosedMenu()">

    <div class="sidebar"
         data-color="purple"
         data-step="1"
         data-intro="Фильтрация задач, добавление, удаление, редактирование категорий"
         data-position='right'>

      <app-categories (selectCategory)="selectCategory($event)"
                      (deleteCategory)="deleteCategory($event)"
                      (updateCategory)="updateCategory($event)"
                      (addCategory)="addCategory($event)"
                      (searchCategory)="searchCategory($event)"

                      [selectedCategory]="selectedCategory"
                      [uncompletedCountForCategoryAll]="uncompletedCountForCategoryAll"
                      [categories]="categories"
                      [categorySearchValues]="categorySearchValues">
      </app-categories>

    </div>

  </ng-sidebar>

  <div ng-sidebar-content>

    <div class="main-panel wrapper">

      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">

        <app-header [categoryName]="selectedCategory ? selectedCategory.title : 'Все'"
                    [showStat]="showStat"

                    (toggleStat)="toggleStat($event)"
                    (toggleMenu)="toggleMenu()"
                    (settingsChanged)="settingsChanged($event)">
        </app-header>

      </nav>

      <div class="content">
        <div class="container-fluid">
          <app-stat
            [dash]="dash"
            [showStat]="showStat">
          </app-stat>

          <app-tasks [tasks]="tasks"
                     [totalTasksFounded]="totalTasksFounded"
                     [selectedCategory]="selectedCategory"
                     [priorities]="priorities"
                     [categories]="categories"
                     [showSearch]="showSearch"
                     [taskSearchValues]="taskSearchValues"

                     (searchAction)="searchTasks($event)"
                     (toggleSearch)="toggleSearch($event)"
                     (selectCategory)="selectCategory($event)"
                     (addTask)="addTask($event)"
                     (deleteTask)="deleteTask($event)"
                     (updateTask)="updateTask($event)"
                     (paging)="paging($event)">
          </app-tasks>
        </div>

      </div>

      <app-footer>

      </app-footer>

    </div>

  </div>

</ng-sidebar-container>
