<ng-sidebar-container style="height: 100vh">

  <ng-sidebar [opened]="menuOpened"
              [closeOnClickOutside]="false"
              [closeOnClickBackdrop]="true"
              [showBackdrop]="showBackdrop"
              [mode]="menuMode"
              [animate]="true"
              [position]="menuPosition"
              [autoFocus]="false"
              (onClosed)="onClosedMenu()">

    <div class="sidebar"
         data-color="purple"
         data-step="1"
         data-intro="Фильтрация задач, добавление, удаление, редактирование категорий"
         data-position='right'>

      <app-categories (selectCategory)="onSelectCategory($event)"
                      (deleteCategory)="onDeleteCategory($event)"
                      (updateCategory)="onUpdateCategory($event)"
                      (addCategory)="onAddCategory($event)"
                      (searchCategory)="onSearchCategory($event)"
                      [selectedCategory]="selectedCategory"
                      [categoryMap]="categoryMap"
                      [uncompletedTotal]="uncompletedTotalTasksCount"
                      [categories]="categories">
      </app-categories>

    </div>

  </ng-sidebar>

  <div ng-sidebar-content>

    <div class="main-panel">

      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">

        <app-header [categoryName]="selectedCategory ? selectedCategory.title : 'Все'"
                    (toggleStat)="toggleStat($event)"
                    (toggleMenu)="toggleMenu()"
                    [showStat]="showStat">
        </app-header>

      </nav>

      <div class="content">
        <div class="container-fluid">

          <div data-step="2"
               data-intro="Список всех задач со статистикой"
               data-position='top'>

            <app-stat
              [totalTasksInCategory]="totalTasksCountInCategory"
              [completeTasksInCategory]="completedCountInCategory"
              [uncompleteTasksInCategory]="uncompletedCountInCategory"
              [showStat]="showStat">
            </app-stat>
          </div>

          <div class="row">
            <div class="col-12">

              <app-tasks [tasks]="tasks"
                         [priorities]="priorities"
                         [selectedCategory]="selectedCategory"
                         (addTask)="onAddTask($event)"
                         (updateTask)="onUpdateTask($event)"
                         (deleteTask)="onDeleteTask($event)"
                         (filterByTitle)="onSearchTasks($event)"
                         (filterByStatus)="onFilterTasksByStatus($event)"
                         (filterByPriority)="onFilterTasksByPriority($event)"
                         (selectCategory)="onSelectCategory($event)">
              </app-tasks>

            </div>
          </div>
        </div>
      </div>

      <app-footer>

      </app-footer>

    </div>

  </div>

</ng-sidebar-container>
