<div class="wrapper ">

  <app-categories (selectCategory)="onSelectCategory($event)"
                  (deleteCategory)="onDeleteCategory($event)"
                  (updateCategory)="onUpdateCategory($event)"
                  (addCategory)="onAddCategory($event)"
                  (searchCategory)="onSearchCategory($event)"
                  [selectedCategory]="selectedCategory"
                  [categories]="categories">
  </app-categories>

  <div class="main-panel">

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">

      <app-header>

      </app-header>

    </nav>

    <div class="content">
      <div class="container-fluid">

        <app-stat
          [totalTasksInCategory]="totalTasksCountInCategory"
          [completeTasksInCategory]="completedCountInCategory"
          [uncompleteTasksInCategory]="uncompletedCountInCategory">
        </app-stat>

        <div class="row">
          <div class="col-12">

            <app-tasks [tasks]="tasks"
                       [priorities]="priorities"
                       [selectedCategory]="selectedCategory"
                       (addTask)="onAddTask($event)"
                       (updateTask)="onUpdateTask($event)"
                       (deleteTask)="onDeleteTask($event)"
                       (filterByTitle)="onSearchTasks($event)"
                       (filterByStatus)="onFilterTasksByStatus($event)"
                       (filterByPriority)="onFilterTasksByPriority($event)"
                       (selectCategory)="onSelectCategory($event)">
            </app-tasks>

          </div>
        </div>
      </div>
    </div>

  <app-footer>

  </app-footer>

  </div>
</div>
