/* You can add global styles to this file, and also import other style files */

@import "assets/css/material-dashboard.css";
@import "~intro.js/minified/introjs.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.not-found {
  padding-top: 15px;
  font-size: 20px;
  color: rgba(74, 74, 74, 0.98);
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.size25 {
  font-size: 25px !important;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-dialog-container {
  width: 650px !important;
}

.red {
  --mdc-text-button-label-text-color: #ff0000 !important;
}

.green {
  --mdc-text-button-label-text-color: green !important;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}
.main-panel > .content {
  margin-top: 30px !important;
}

app-header {
  width: 100%;
}

.mat-mdc-raised-button {
  z-index: 0 !important;
}
