.pointer {
  cursor: pointer;
}

.all-category-title {
  font-size: 16px;
  display: inline-block;
  width: 85%;
}

.category-title {
  width: 70%;
  display: inline-block;
  font-size: 16px;
}

.edit-category-icon-area {
  width: 15%;
  display: inline-block;
  text-align: left;
  font-size: 13px;
}

.edit-category-icon {
  color: #dadada;
}
