.pointer {
  cursor: pointer;
}

.all-category-title {
  font-size: 16px;
  display: inline-block;
  width: 85%;
}

.category-title {
  width: 70%;
  display: inline-block;
  font-size: 16px;
}

.edit-category-icon-area {
  width: 15%;
  display: inline-block;
  text-align: left;
  font-size: 13px;
}

.edit-category-icon {
  color: #dadada;
}

span.add-icon-area {
  width: 20%;
  display: inline-block;
  text-align: left;
}

.nav-title {
  width: 80%;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

#categories {
  width: 100%;
  overflow-x: hidden;
}

.add-icon {
  cursor: pointer;
  font-size: 25px;
  vertical-align: middle;
}

.search-category-area {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  border-radius: 6px;
}

.search-category-button {
  margin-left: 10px;
  font-size: 25px;
}

.sidebar-background {
  background-image: url("../../../assets/img/sidebar-1.jpg") !important;
}
